<div class="page-header"><h1>{{eventName}}</h1></div>

<div class="row">
    <div class="col-lg-6 col-sm-12 ng-scope" id="bar-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Bar Chart</div>
            <div class="panel-body">
                <iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                <canvas id="bar" class="chart chart-bar" data="data"
                        labels="labels" series="series"></canvas>
            </div>
        </div>
    </div>
</div>
